<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit User</title>
<link th:replace="~{fragments/navbar :: head}">
</head>

<body>
<div th:replace="~{fragments/navbar :: navigation('users')}"></div>
<h1>Edit User</h1>
<hr>
<br><br>
<form th:action="@{/update-user/{id}(id=${user.id})}" th:object="${user}" method="post">
	First Name: <input type="text" th:field="*{fname}" required><br><br>
	Last Name: <input type="text" th:field="*{lname}" required><br><br>
	Username: <input type="text" th:field="*{username}" required><br><br>
	Email: <input type="email" th:field="*{email}" required><br><br>
	Password: <input type="password" th:field="*{password}" required><br><br>
	<input type="submit" value="Update User">
	<a href="/users"><button type="button">Cancel</button></a>
</form>
</body>
</html>
